body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 50px auto 0px;
  width: 90%;
  max-width: 800px;
  border-radius: 20px;
  height: 470px;
  padding: 20px 15px;
  background: rgb(174, 195, 233);
}

.search-engine{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.search-engine input{
  width: 70%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 12px;
  font-size: 16px;
  outline: none;
  background-color: white;
  color: #555555;
}

.search-engine button{
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
}

.city-name{
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.loading{
  font-size: 60px;
  font-weight: bolder;
  color: black;
}

.date {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.temp {
  font-size: 4.5rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

.description{
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 20px;
}

.weather-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: bold;
  padding: 0px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.wind{
  font-size: 1.8rem;
}

.wind-direction{
  font-size: 1.8rem;
}

.humidity{
  font-size: 1.8rem;
}

.column{
  display: flex;
  align-items: center;
  line-height: 3px;
}